{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class = flexbox-container-card>
        <div class="flexbox-item card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/lostark.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
        <div class="flexbox-item card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/merlin.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>


        <div class="flexbox-item card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/bio.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>


        <div class="flexbox-item card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/lostark.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
    <div class = flexbox-container-card>
        <div class="flexbox-item card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/lostark.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
        <div class="flexbox-item card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/lostark.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="flexbox-item card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/lostark.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="flexbox-item card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/lostark.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>




















{% endblock %}