{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class = "flexbox-container flexbox-wrap mt-4">
{% for game in games %}
<div class="card mx-4">
    <img class="card-img-top" src="{{game.image}}" >
    <div class="card-body">
        <h5 class="card-title">Title: {{game.name}}</h5>
        <p class="card-text">
        <ul>
            <li>Genre: {{game.genre}}</li>
            <li>Description: {{game.description}}</li>
            <li>Release date: {{game.date_posted}}</li>
            {% for developer in game.developer_set.all%}
            <li>Developer: {{developer.name}}</li>
            {%endfor%}
                
        </ul>
        </p>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}