{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" id="ample-style-css" href="{% static 'layout.css' %}" type="text/css" media="all">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over </title>
</head>
<header>
    <span class="welcome-tag">Welcome to Game Over</span>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="flexbox-item header-logo-imagee">
                <img src="{% static 'images/logoimg.png' %}" alt="Game Central">
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/games">Games</a>
              </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/profile/{{user.id}}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/profile/{{user.id}}">Profile Details</a></li>
                <li><a class="dropdown-item" href="/addgame">Register a game</a></li>
                <li><a class="dropdown-item" href="/logout">Log-out.</a></li>
            </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Log-in</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign-Up</a>
              </li>
            
            {% endif %}
            </ul>
        <form action = "games" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" name = "search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
          </div>
        </div>
      </nav>
</header>
{% block content %}
{% endblock %}
    <div class="footer-container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-top pb-3 m-4">
                <p class="text-center mx-4" style="background-color:black">&copy; 2022 Game Over, Inc.</p>
            </ul>
           
            
        </footer>
    </div>
<script src="https://kit.fontawesome.com/7f7919aac7.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
